@charset "UTF-8";
body {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  width: 100%;
  background-color: #f2f2f2;
}

ul {
  margin: 0;
  padding: 0;
}

input {
  border: none;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.search-form-modal {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  left: calc( 50% - 284px);
  width: 568px;
  margin: 0 auto;
  padding: 55px;
  -webkit-box-shadow: 0px 13px 20px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 13px 20px 2px rgba(0, 0, 0, 0.5);
  z-index: 10;
  background-color: #fff;
}

.search-form-modal label {
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.search-form-modal .form-date {
  max-width: 100%;
  margin-bottom: 30px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search-form-modal .form-date input {
  max-width: 346px;
  padding-left: 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 14px;
  font-weight: 700;
  background-color: #f2f2f2;
}

.search-form-modal .form-date::after {
  content: "";
  position: absolute;
  right: 10px;
  top: calc( 50% - 11px);
  width: 22px;
  height: 22px;
  background-image: url(../img/calendar.png);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.search-form-modal .form-date:hover::after {
  background-image: url(../img/calendar-hover.png);
}

.search-form-modal .form-date:focus-within::after {
  background-image: url(../img/calendar-active.png);
}

.search-form-modal .form-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search-form-modal .form-number label {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.search-form-modal .form-number label input {
  color: #000000;
  font-size: 14px;
  font-weight: 700;
}

.search-form-modal .form-number label:last-child p {
  margin-left: auto;
}

.search-form-modal .form-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 55px;
  padding: 0px;
  max-width: 100%;
}

.search-form-modal .form-submit input {
  width: 100%;
  height: 58px;
  color: #fff;
  font-size: 21px;
  font-weight: 700;
  background-color: #81b3d2;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.search-form-modal .form-submit input:hover {
  background-color: #669ec0;
}

.search-form-modal .form-submit input:active {
  background-color: #5496bd;
  color: #87b5d1;
}

.modal-none {
  -webkit-transform: translate3d(0, -130%, 0);
          transform: translate3d(0, -130%, 0);
  display: block;
  -webkit-animation-name: slideOutUp;
          animation-name: slideOutUp;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.modal-on {
  display: block;
  -webkit-animation-name: slideInDown;
          animation-name: slideInDown;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@media (max-width: 608px) {
  .search-form-modal {
    width: 100%;
    left: 0;
    padding: 20px;
  }
}

@media (max-width: 767px) {
  .form-number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .form-number label.form-number-inner {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .form-number label.form-number-inner:last-child {
    margin-top: 20px;
  }
  .form-number label.form-number-inner:last-child p {
    margin-left: 0;
  }
}

.header {
  max-width: 100%;
  background-image: url(../img/background-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-nav {
  height: 56px;
  background-color: #ffffff;
  position: relative;
  z-index: 10;
}

.header-nav_list {
  position: relative;
  z-index: 7;
  background-color: #fff;
  height: 56px;
  padding: 0px 70px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-nav_list li {
  width: 20%;
  height: 100%;
  text-align: center;
}

.header-nav_list li:first-child {
  text-align: left;
}

.header-nav_list li:last-child {
  text-align: right;
}

.header-nav_list a {
  text-decoration: none;
  color: #000000;
  font-weight: 700;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  line-height: 56px;
}

.header-nav_list a:hover {
  color: #81b3d2;
}

.header-nav_list a:active {
  color: #000000;
  opacity: 0.3;
}

.header-nav_list .header-nav_burger {
  display: none;
  position: absolute;
  left: 15px;
  top: 50%;
}

.header-nav_list .header-nav_burger span, .header-nav_list .header-nav_burger span::before, .header-nav_list .header-nav_burger span::after {
  display: block;
  position: absolute;
  height: 4px;
  background-color: #81b3d2;
  width: 40px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header-nav_list .header-nav_burger span::before {
  content: '';
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.header-nav_list .header-nav_burger span::after {
  content: '';
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.header-nav_list .header-nav_burger_active span {
  height: 0;
}

.header-nav_list .header-nav_burger_active span::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #81b3d2;
}

.header-nav_list .header-nav_burger_active span::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: #81b3d2;
}

.header-nav-burger_list {
  position: relative;
  z-index: 5;
  list-style: none;
  width: 100%;
  padding-top: 10px;
  background-color: #81b3d2;
  position: relative;
}

.header-nav-burger_list li {
  text-align: center;
  background-color: #81b3d2;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.header-nav-burger_list li a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 21px;
}

.header-nav-burger_list li a:active {
  color: #000000;
  opacity: 0.3;
}

.header-nav-burger_list li:last-child {
  margin-bottom: 0;
  border: none;
  -webkit-box-shadow: inset 0px -7px 5px -6px rgba(0, 0, 0, 0.35);
          box-shadow: inset 0px -7px 5px -6px rgba(0, 0, 0, 0.35);
}

.header-intro {
  margin-top: 75px;
}

.header-intro img {
  display: block;
  margin: 0px auto 55px;
  max-width: 100%;
  height: auto;
}

.header-intro img:last-child {
  margin-bottom: 20px;
}

.header-intro::after {
  content: "";
  display: block;
  padding-bottom: 4.75%;
  height: 0px;
  background-image: url(../img/header-border-bottom.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.header-bot {
  background-color: #fff;
  position: relative;
}

.header-bot_description {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin: 0;
  width: 450px;
  margin: 0px auto;
  padding-top: 60px;
}

.header-bot_advantages {
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin: 0;
  width: 500px;
  margin: 0px auto;
  padding-top: 30px;
}

.burger_list-none {
  -webkit-transform: translate3d(0, -130%, 0);
          transform: translate3d(0, -130%, 0);
  -webkit-animation-name: slideOutUp;
          animation-name: slideOutUp;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.burger_list-on {
  -webkit-animation-name: slideInDown;
          animation-name: slideInDown;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

@media (max-width: 767px) {
  .header-nav_menu {
    display: none;
  }
  .header-nav_list a.header-nav_burger {
    display: block;
  }
  .header-nav_list li.header-nav_item {
    margin: 0 auto;
    width: 138px;
  }
  .header-bot_description, .header-bot_advantages {
    width: calc( 100% - 20px);
  }
  .header-intro img {
    max-width: 90%;
  }
  .header-nav-burger_list {
    list-style: none;
  }
}

.main {
  max-width: 100%;
}

.main-container {
  margin-top: 55px;
  position: relative;
  z-index: 100;
}

.main-container .main-advantages_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-container .main-advantages_container .advantages_container_text {
  background-color: #81b3d2;
  width: 33.3%;
  text-align: center;
  padding: 50px 50px 60px;
  color: #fff;
}

.main-container .main-advantages_container .advantages_container_text .advantages_container_title {
  max-width: 140px;
  margin: 0 auto 30px;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
}

.main-container .main-advantages_container .advantages_container_text .advantages_container_number {
  margin: 0 auto 30px;
}

.main-container .main-advantages_container .advantages_container_text .advantages_container_number::before {
  content: "— ";
}

.main-container .main-advantages_container .advantages_container_text .advantages_container_number::after {
  content: " —";
}

.main-container .main-advantages_container .advantages_container_foto {
  width: 66.6%;
}

.main-container .main-features {
  padding: 60px 0px 85px;
  background-color: #fff;
}

.main-container .main-features_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main-container .main-features_list .main-features_item {
  text-align: center;
  padding: 0 20px;
}

.main-container .main-features_list .main-features_item .main-features_icon {
  margin-bottom: 30px;
  height: 76px;
}

.main-container .main-features_list .main-features_item .main-features_title {
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 40px;
}

.main-container .main-features_list .main-features_item .main-features_description {
  max-width: 300px;
  margin: 0 auto;
}

.main-container .main-features-reason {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 50px 0px 65px;
  background-color: #eeeeee;
}

.main-container .main-features-reason .advantages_container_text {
  text-align: center;
  color: #000;
  padding: 0 20px;
}

.main-container .main-features-reason .advantages_container_text .advantages_container_title {
  max-width: 140px;
  margin: 0 auto 30px;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
}

.main-container .main-features-reason .advantages_container_text .advantages_container_number {
  margin: 0 auto 30px;
}

.main-container .main-features-reason .advantages_container_text .advantages_container_number::before {
  content: "— ";
}

.main-container .main-features-reason .advantages_container_text .advantages_container_number::after {
  content: " —";
}

.main-container .main-features-reason .advantages_container_text .advantages_container_description {
  max-width: 260px;
  margin: 0 auto;
}

.main-search-form {
  padding: 50px 20px 0px;
  position: relative;
  z-index: 100;
  background-color: #fff;
}

.main-search-form .search-form-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}

.main-search-form .search-form-text {
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  text-align: center;
  max-width: 440px;
  margin: 30px auto 0;
  padding-bottom: 50px;
}

.search-form-btn {
  max-width: 100%;
  background-color: #fff;
}

.search-form-btn .search-form-link {
  position: relative;
  z-index: 100;
  display: block;
  margin: 0px auto 0px;
  max-width: 568px;
  height: 86px;
  background-color: #766357;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  line-height: 86px;
  cursor: pointer;
}

.search-form-btn .search-form-link:hover {
  background-color: #604e43;
}

.search-form-btn .search-form-link:active {
  background-color: #503e33;
  color: #847870;
}

@media (max-width: 767px) {
  .main .main-container .main-advantages_container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main-container .main-advantages_container .advantages_container_text {
    width: 100%;
    padding: 30px 50px;
  }
  .main-container .main-advantages_container .advantages_container_foto {
    width: 100%;
  }
  .main-container .main-features {
    padding: 60px 0px 20px;
  }
  .main-container .main-features .main-features_list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main-container .main-features .main-features_list .main-features_item {
    width: 100%;
  }
  .main-container .main-features .main-features_list .main-features_item .main-features_icon {
    margin-bottom: 10px;
  }
  .main-container .main-features .main-features_list .main-features_item .main-features_title {
    margin-bottom: 10px;
  }
  .main-container .main-features .main-features_list .main-features_item .main-features_description {
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 2px solid rgba(129, 179, 210, 0.4);
  }
  .main-container .main-features-reason {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 10px;
  }
  .main-container .main-features-reason .advantages_container_text {
    width: 100%;
  }
  .main-container .main-features-reason .advantages_container_text .advantages_container_title, .main-container .main-features-reason .advantages_container_text .advantages_container_number {
    margin-bottom: 10px;
  }
  .main-container .main-features-reason .advantages_container_text .advantages_container_description {
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 2px solid rgba(129, 179, 210, 0.4);
  }
  .search-form-btn .search-form-link {
    height: 66px;
    line-height: 66px;
    font-size: 18px;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100%;
  padding: 50px 100px;
}

.footer-hashtag {
  color: #000000;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
}

.footer-social {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
}

.footer-social a {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.footer-social a .twitter-link {
  position: absolute;
  top: calc( 50% - 7.5px);
  left: calc( 50% - 8.5px);
}

.footer-social a .fb-link {
  position: absolute;
  top: calc( 50% - 11px);
  left: calc( 50% - 6px);
}

.footer-social a .youtube-link {
  position: absolute;
  top: calc( 50% - 8px);
  left: calc( 50% - 10px);
}

.footer-social a:hover {
  background-color: #669ec0;
}

.footer-social a:active {
  background-color: #5496bd;
}

.footer-creator {
  color: #000000;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
}

.footer-creator a {
  text-decoration: none;
  text-transform: none;
  color: #81b3d2;
}

@media (max-width: 767px) {
  .footer {
    padding: 25px 50px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-hashtag {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  .footer-social {
    width: 100%;
    margin-bottom: 20px;
  }
  .footer-creator {
    width: 100%;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */